.outer-container-div {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.navbar-div {
  flex: 2;
  background-color: #f0f0f0; /* Just for visualization */
  padding: 20px;
}

.outer-display-div {
  flex: 12;
  background-color: #e0e0e0; /* Just for visualization */
  padding: 20px;
}

.active-project {
  background-color: #d3d3d3;
  font-weight: bold;
}

.project-list-item:hover,
.home:hover {
  background-color: #d3d3d3;
}
