.container-div {
  display: flex;
  width: 100%;
}

.navbar-div {
  flex: 2;
  background-color: #f0f0f0; /* Just for visualization */
  padding: 20px;
}

.display-div {
  flex: 8;
  background-color: #e0e0e0; /* Just for visualization */
  padding: 20px;
}
