.outer-container-div {
  display: flex;
  width: 100%;
}

.navbar-div {
  flex: 2;
  background-color: #f0f0f0; /* Just for visualization */
  padding: 20px;
}

.display-div {
  flex: 12;
  background-color: #e0e0e0; /* Just for visualization */
  padding: 20px;
}

.active-project {
  background-color: #d3d3d3;
}

.project-list-item:hover {
  background-color: #d3d3d3;
}
