/************************************************/
/*               Global styles                  */
/************************************************/

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul,
.project-list {
  padding-left: 0px;
}

/************************************************/
/*               Dashboard.js                   */
/************************************************/

.outer-container-div {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.navbar-div {
  flex: 3;
  background-color: #f7f7f5;
}

.display-div {
  flex: 13;
  background-color: #fff;
  height: 100%;
}

.logout-div {
  height: 5%;
  background-color: #f7f7f5;
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-button {
  /* what position do we want? behavior when we scroll? */
  /* position: fixed;
  bottom: 10px;
  left: 10px; */
  width: 90%;
  height: 40px;
  /* flex-shrink: 0; */
  /* text font */
  color: #626060;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  padding: 8px 16px;
  background-color: #f7f7f5;
  border: 1px solid #626060;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    background-color: #e1e1e1;
  }

  &:active {
    background-color: #d8d7d4;
  }
}

/************************************************/
/*          ProjectNavigationPanel.js           */
/************************************************/

.nav-panel-outer-div {
  padding: 6% 3%;
  font-family: 'Nunito', sans-serif;
  height: 91vh;

  &:not(.actively-selected) {
    color: #626060;
  }
}

.actively-selected {
  background-color: #e8e8e5;
  font-weight: bold;
  color: 000;
  border-radius: 6px;
  color: #000;
}

/* Header Portion */

.nav-panel-header-div {
  height: 200px;
}

.home {
  display: flex;
  align-items: center;
  padding: 3px;
  cursor: pointer;
  margin-bottom: 3px;
}

.home > svg {
  margin-right: 20px;
}

.new-project,
.ai-new-project {
  padding: 3px 3px 3px 1px;
  margin-bottom: 3px;
  border-radius: 6px;

  &:hover {
    background-color: #e7e7e4;
  }

  &:active {
    background-color: #d0cfcd;
  }
}

.create-project-btn {
  border: 0;
  margin-right: 17px;
  background: 0;
}

.create-project-input {
  border: 0;
  background: 0;
  padding-left: 0;
  cursor: pointer;

  &::placeholder {
    color: #626060;
  }

  &:focus {
    background: #e8e8e5;
  }
}

.btn-create-pdf {
  display: flex;
  align-items: center;
  border: 0;
  background: 0;
  color: #626060;
  width: 80%;
  margin-bottom: 10px;
}

.ai-new-project-input {
  max-width: 250px;
  margin-bottom: 10px;
}

.btn-submit-pdf {
  display: block;
  border-radius: 3px;
  color: white;
  background-color: #6485d9;

  &:hover {
    background-color: #5776c5;
  }

  &:active {
    background-color: #3f60b5;
  }
}

/* Project List Middle Portion */

.project-list-div {
  height: 71%;
  overflow-y: auto;
}

.project-div {
  padding: 3.5px;
  cursor: pointer;
}

.project-list-svg {
  margin-right: 10px;
}

.projects-span {
  font-size: 18px;
  margin-bottom: 10px;
  margin-left: 7px;
}

.project-list-item:hover,
.home:hover {
  background-color: #e7e7e4;
  border-radius: 6px;
}

.actively-selected:hover {
  background-color: #dfdfdc;
  border-radius: 6px;
}

.project-list-item:active,
.home:active,
.actively-selected:active {
  background-color: #d0cfcd;
  border-radius: 6px;
}

/* Drop down menu */

.navbar-dropdown-menu,
.list-dropdown-menu {
  position: fixed;
  z-index: 100;
  background: white;
  width: 150px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 180px;
  color: #626060;
  padding: 5px;
  border-radius: 6px;
}

.dropdown-menu-svg {
  margin-right: 15px;
  margin-left: 5px;
}

.navbar-dropdown-menu li,
.list-dropdown-menu li {
  font-weight: normal;
  margin-bottom: 5px;
}

.navbar-dropdown-menu li div,
.list-dropdown-menu li div {
  border-radius: 6px;
  padding: 4px;
  display: flex;
  align-items: center;

  &:hover {
    background-color: #e7e7e4;
    font-weight: bold;
  }

  &:active {
    background-color: #d0cfcd;
  }
}

.up-down-button {
  border: 2px solid #626060;
  border-radius: 6px;
  padding: 2px 5px;
  margin-left: 5px;
  font-size: 9px;
}

.task-renamer {
  display: flex;
  flex-direction: column;
}

/************************************************/
/*          ProjectDashboard.js                 */
/************************************************/

.project-display-div {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.color-block {
  height: 100px;
  width: 100%;
  background: #a1bafa;
}

/* header */

.project-display-header-div {
  height: 130px;
  margin: 20px 20px 20px 45px;
  border-bottom: 3px solid #d9d9d9;
}

.project-title-and-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar-div {
  position: relative;
  width: 270px; /* Adjust as needed */
  height: 44px; /* Adjust as needed */
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 3px solid #d9d9d9;
  background: #fff;
}

.search-bar {
  flex: 1;
  padding-left: 30px; /* Space for the icon */
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px; /* Adjust font size */
}

.search-icon {
  position: absolute;
  left: 5px; /* Adjust the position of the icon */
  top: 50%;
  transform: translateY(-50%);
  width: 22.194px;
  height: 24px;
  pointer-events: none; /* Ignore pointer events to let clicks pass through to input */
}

.new-list-form {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.add-list-btn {
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 4px;
  background: #6485d9;
  color: #fff;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.add-list-btn:hover {
  background: #5776c5;
}

.add-list-btn:active {
  background: #3f60b5;
}

/* body */

.project-display-lists-div {
  flex-grow: 1;
  overflow-y: auto;
  height: 70%;
  background-color: #fff;
  margin-left: 45px;
}

/************************************************/
/*                  List.js                     */
/************************************************/

/* outer container */

.list-div {
  /* border: 1px solid black; */
  margin: 10px 10px 40px 0px;
}

/* header */

.list-title-div {
  display: flex;
  align-items: center;
}

.list-more-actions-div {
  margin-right: 15px;
  margin-left: 15px;
}

.list-dropdown-menu {
  left: 400px;
}

/* task completion */

.task-completion-div {
  /* display: flex;
  align-items: center; */
  margin-left: 35px;
}

.task-completion-div-content {
  display: flex;
  align-items: center;
}

.task-completion-visual-div {
  position: relative;
  width: 150px;
  height: 8px;
  margin-right: 20px;
}

.visual-bottom-div,
.visual-top-div {
  height: 100%;
  border-radius: 6px;
}

.visual-bottom-div {
  background-color: #d9d9d9;
}

.visual-top-div {
  background-color: #a1bafa;
  /* width: 33%; */
  position: absolute;
  top: 0;
  left: 0;
}

/* task attributes bar */

.task-attribute-label-div {
  display: flex;
  padding-bottom: 5px;
  margin-bottom: 5px;
  margin-top: 14px;
  border-bottom: 3px solid #d9d9d9;
}

.label {
  padding: 5px 0px 5px 5px;
  display: flex;
  align-items: center;
}

#label-task-name {
  /* background-color: rgb(135, 135, 182); */
  flex: 50%;
}

#label-priority {
  /* background-color: rgb(177, 116, 116); */
  flex: 15%;
}

#label-due {
  /* background-color: rgb(125, 125, 175); */
  flex: 30%;
}

#label-trash {
  /* background-color: rgb(172, 120, 120); */
  flex: 5%;
}

.label > svg {
  margin-right: 7px;
}

.new-task-btn {
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 4px;
  background: 0;
  color: #7d7c78;
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  border: 0;
}

.list-form {
  display: flex;
  align-items: center;
}

.new-list-input {
  border: none;
}

.new-task-form-div {
  border-bottom: 3px solid #d9d9d9;
  padding: 3px 0px 3px 0;
}

/************************************************/
/*                  Task.js                     */
/************************************************/

.task {
  display: flex;
  padding: 2px 0px 2px 0;

  border-bottom: 3px solid #d9d9d9;
}

.field {
  padding: 5px 0px 5px 20px;
}

#task-name-div {
  flex: 50%;
}

#task-priority-div {
  flex: 15%;
  display: flex;
  align-items: center;
}

#task-date-div {
  flex: 30%;
  display: flex;
  align-items: center;
}

#task-delete-btn-div {
  flex: 5%;
}

.custom-checkbox {
  margin-right: 15px;
}

.task-reorder {
  margin-left: 20px;
  margin-right: 15px;
}

.content-below-block {
  margin-top: 50px; /* Adjust this value to match the height of the color block */
}

input[type='checkbox'] {
  appearance: none;
}

.custom-checkbox {
  position: relative;
  width: 28px;
  height: 26px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 2px solid #d9d9d9;
  display: inline-block; /* Ensures block-level display for the span */
  vertical-align: middle; /* Aligns checkbox with text */
}

.custom-checkbox.checked {
  border-color: transparent; /* No border for checked state */
}
/* adds the svg button  */
.custom-checkbox.checked::before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M5.33333 13.3334L10.2505 17.8723C10.7022 18.2893 11.4198 18.2037 11.7608 17.6922L20 5.33337" stroke="white" stroke-width="3" stroke-linecap="round"/></svg>');
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  background-color: #6d89d1; /* Background color for checked state */
  border-radius: 6px; /* Adjust border-radius as needed */
}

.react-datepicker-wrapper input {
  width: 250px; /* Adjust the width as needed */
}

/************************************************/
/*                Calendar.js                   */
/************************************************/

.home-containing-div {
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.home-header-div {
  height: 120px;
  margin: 30px 10px 20px 40px;
  border-bottom: 2px solid #d9d9d9;
  padding-bottom: 5px;
}

.home-welcome-text-div {
  font-size: 40px;
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.home-welcome-text-div > svg {
  margin-right: 16px;
}

.calendar-icon-label {
  margin-top: 20px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.calendar-icon-label > svg {
  margin-right: 10px;
}

.calendar-page-container {
  flex-grow: 1;
  overflow: auto;
  margin: 5px 0px 20px 40px;
  padding-right: 10px;
}

.calendar-popup {
  margin-top: 10px;
}

.calendar-close-popup-btn {
  width: 80px;
  height: 30px;
  padding: 5px;
  border-radius: 4px;
  background: #6485d9;
  color: #fff;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;

  &:hover {
    background: #5776c5;
  }

  &:active {
    background: #3f60b5;
  }
}

/************************************************/
/*                 LoginPage.js                 */
/************************************************/

.landing-page-container {
  background-color: #A1BAFA;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.landing-middle-div {
  text-align: center; /* Center text content */
}


.landing-page-content-box {
  padding: 20px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  width: 550px;
  height: 400px;
  margin: auto; /* Center the box horizontally */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #FFF;
}

.landing-page-content-box span {
  font-weight: 200; 
}

.landing-page-buttons {
  margin-top: 20px; /* Adjust spacing between buttons and text */
}

.landing-page-content-box h2 {
  display: flex;
  align-items: center; /* Align the items vertically */
  gap: 8px; /* Adjust the spacing between the text and the SVG */
}

.landing-login-btn {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  border: none;
  color: #FFFFFF;
  margin-top: 40px;
  width: 420px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #6485D9;
}

.landing-login-btn:hover {
  background-color: #5776C5;
}

.landing-login-btn:active {
  background-color: #3F60B5; /* Change this color as per your preference */
}

.landing-sign-up-btn{
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  color: #6485D9;
  margin-top: 30px;
  width: 420px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 3px solid #6485D9;
  background: #FFF;
}

.landing-sign-up-btn:hover{
  background-color: #F5F7FB;
}

.landing-sign-up-btn:active{
  background-color: #DCE3F2;
}

/* STYLE HOVER ON BUTTON? */

/************************************************/
/*              RegisterPage.js                 */
/************************************************/

.register-screen-container {
  background-color: #A1BAFA; 
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /*Center vertically */
  height: 100vh; /* Make the container cover the entire viewport height */
}

/* Style the white box */
.register-middle-div {
  width: 650px;
  height: 650px;
  padding: 40px;
  border-radius: 20px;
  background: #FFF; 
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Adjust vertical spacing */
  /* align-items: center; Center horizontally */
  /* text-align: center; */
}

.register-middle-div h2 {
  font-family: 'Nunito', sans-serif;
  margin-bottom: 30px;
  padding-left: 40px;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.register-form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px; /* Adjust the margin between each form field */
  padding-left: 40px;
}

.register-form-field label {
  margin-bottom: 9px;
  color: #000;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


.register-input-box {
  width: 400px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 2px solid #D8D8D8;
  background: #FFF;
  padding-left: 10px;
}

.register-input-box::placeholder {
  color: #A9A9A9;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* Additional styles if needed */
}

.register-password-requirements {
  padding-left: 40px;
  margin-top: 7px; /* requirement text not moving closer to input box? */
  color: #7D7C78;
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 145.948%; /* 21.892px */
}

.register-btn{
  width: 400px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #6485D9;
  margin-top: 0px; /* Adjust top margin if needed */
  color: #FFFFFF;
  border: none;
  margin-left: 40px;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}

.register-btn:hover {
  background-color: #5776C5;
}

.register-btn:active {
  background-color: #3F60B5; 
}

.register-existing-account{
  font-family: 'Nunito', sans-serif;
  padding-left: 130px;
  padding-top: 15px;
}

.register-screen-text-span {
  color: #5A79C6; /* Set the color to a typical link color */
  cursor: pointer; /* Show pointer cursor on hover */
  text-decoration: underline; /* Underline to indicate a link */
}

/************************************************/
/*              LoginPage.js                    */
/************************************************/

.login-screen-container{
  background-color: #A1BAFA; 
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /*Center vertically */
  height: 100vh; /* Make the container cover the entire viewport height */
}

/* Style the white box */
.login-middle-div {
  width: 530px;
  height: 450px;
  padding: 40px;
  border-radius: 20px;
  background: #FFF; 
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; Adjust vertical spacing */
  /* align-items: center; Center horizontally */
  /* text-align: center; */
}

.login-middle-div h2 {
  font-family: 'Nunito', sans-serif;
  margin-bottom: 30px;
  padding-left: 40px;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.login-form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px; /* Adjust the margin between each form field */
  padding-left: 40px;
}

.login-form-field label {
  margin-bottom: 9px;
  color: #000;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.login-input-box {
  width: 400px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 2px solid #D8D8D8;
  background: #FFF;
  padding-left: 10px;
}

.login-input-box::placeholder {
  color: #A9A9A9;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.login-login-btn{
  width: 400px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #6485D9;
  margin-top: 0px; /* Adjust top margin if needed */
  color: #FFFFFF;
  border: none;
  margin-left: 40px;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}

.login-login-btn:hover {
  background-color: #5776C5;
}

.login-login-btn:active {
  background-color: #3F60B5; /* Change this color as per your preference */
}


.login-no-account{
  font-family: 'Nunito', sans-serif;
  padding-left: 140px;
  padding-top: 15px;
}

.login-register-text-span{
  color: #5A79C6; /* Set the color to a typical link color */
  cursor: pointer; /* Show pointer cursor on hover */
  text-decoration: underline; /* Underline to indicate a link */
}